.header .navbar {
    background-color: transparent !important;
  }
.header{
    background: rgb(63, 60, 60) !important;
}
.logo{
    padding-left: 30px;
}
.btn-buscar{
    display: flex;
    justify-content: flex-end !important;
    padding-right: 30px;
}
.bi{
    color: white;
}

.logo-carrito{
    padding-right: 15px;
}

.btn-outline-success{
    color: rgb(67, 114, 216);
    border-color: cornflowerblue !important;
}

.main{
    background: url(../assets/img/bebidasAlcoholicas1.jpg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
}
